<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Todo List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>

            <% if (task == null) { %>
                 <form action="/create" method="post">
                    <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
                    <button id="addButton" type="submit">Add</button>
                </form>
            <% } else { %>
                <form action="/updateOne/<%= task._id %>" method="post">
                     <input type="text" name="task" id="task" value="<%= task.task %>">
                    <button id="addButton" type="submit">Update</button>
                </form>
            <% } %>
        </header>


        <section>
            <% tasksList.forEach((task) => { %>
            <ul>
                <li><%= task.task %> | <%= task.date %></li>
                <a href="/getById/<%= task._id %>/update">Edite</a>
                <a href="/getById/<%= task._id %>/delete">Delete</a>
            </ul>
            <% }) %>
        </section>

        <% if (taskDelete != null) {%>
            <section id="modal">
                <div id="card">
                    <a href="/">X</a>
                    <h2>Configmaç~ao</h2>
                    <hr>
                    <p>
                        Deseja realmento apagar a tarefa: <%= taskDelete.task %>?
                    </p>
                    <a href="/deleteOne/<%= taskDelete._id %>">Sim</a>
                    <a href="/">N~ao</a>
                </div>
            </section>

        <% } %>

    </body>
</html>

